* {
  scroll-behavior: smooth;
}

body {
  /* width: 60%; */
}

/* HEADER */

/* nom + phrase et logo */
.container-first {
  position: absolute;
  top: 30%;
  left: 5%;
}

.container-first h1 {
  font-size: 40px;
  color: #ffffff;
  padding-bottom: 150px;
  margin-top: -70px;
  flex-wrap: wrap;
}

.container-first h1 span {
  /* position: relative; */
  flex-wrap: wrap;
}

h1 .name {
  font-family: 'Open sans', sans-serif;
  font-weight: 800;
}

h1 .web {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;

}

/* lignes en top de la page */
.lignes {
  position: absolute;
  top: 6%;
  left: 5%;
}
.l1 {
  width: 200px;
  height: 5px;
  background: #f1f1f1;
  border-radius: 5px;
}
.l2 {
  width: 120px;
  height: 5px;
  background: #f1f1f1;
  border-radius: 5px;
  position: relative;
  top: 20px;
}

.bg .logo {
  position: absolute;
  right: 2.9%;
  top: 4%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0%;
}
